/* Hoja de estilos de alumnos */
:root {
    --bg-color: #bfc0c0;
    --input-color: #111;
    --titles-color: #ef8354;
    --nav-bg-color: #e4d9ff;
    --art-color: #e5e5e5;
    --font-white-color: #ffffff;
    --font-dark-color: #30343f;
    --container-color: #fafaff;
}

body {
    font-family: Arial, sans-serif, Times, serif, sans-serif;
    background-color: var(--font-dark-color);
    font-size: 16px;
    padding: 16px;
    height: 100%;
    background: var(--bg-color);
    margin: 0; 
}

html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#expand-btn{
    margin-left: 9rem
}
.menu {
    background: var(--dark-bg-color);
}
#container {
    display:flex;
    height:100vh;
    margin-left: 1rem;
    max-width: 80rem;
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: var(--container-color);
}

.Card-title {
    background-color: var(--nav-bg-color);
}

.Card-reading-time {
    background-color: var(--dark-content-container-color);
    background: var(--dark-content-container-color);
}

.Card-buttons {
min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: var(--dark-nav-bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--bg-color);
    color: white;
    margin-bottom: 20px;
    text-shadow: 5px 5px 10px rgba(16, 20, 245, 0.4);
    color: var(--dark-bg-color);
}

.button-dark-mode {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #adb5bd;
}

.button-dark-mode:hover {
    background-color: #ced4da;
}

.button-dark-mode:active {
    top: 2px;
}

.button-dark-mode {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: var(--bg-color);
  }
  .button-dark-mode:hover {
    background-color: #ced4da;
  }
  .button-dark-mode--active:active {
    top: 2px;
  }
.dark-mode {
    --dark-bg-color: #22223b;
    --dark-input-color: #f2e9e4;
    --dark-nav-bg-color: #c9ada7;
    --dark-titles-color: #98c1d9;
    --dark-content-container-color: #4a4e69;

}
.checkbox {
    opacity: 0;
    position: absolute;
}
.fa-moon {
    color: beige;
}
.fa-sun {
    color: yellow;
}

.checkbox-label {
    background-color: var(--input-color);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background: var(--bg-color);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: transform 0.2 linear;
}

.toggle-container {
    background-color: var(--input-color);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-container .ball {
    background: var(--bg-color);
    width: 22px;
    height: 22px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .toggle-container .ball {
    transform: translate(24px);
}


.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    min-height: 860px;
    height: 100%;
    padding: 0.3rem 4rem;
    border-radius: 16px;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    background-color: var(--nav-bg-color);
    transition: max-width 0.1s ease-in-out;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    list-style-type: none;

    
   
}

.Nav-captiulos {
    background: var(--dark-bg-color);
}

.Nav-articulos {
    font-size: 1rem var(--input-color) ;
    
}


.search__wrapper input {
    background-color: var(--bg-color);
    height: 40px;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    outline: none;
    border: none;
    color: var(--input-color);
}

/*
.search__wrapper svg {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 90px;
    transform: translateY(-50%);
    pointer-events: none;
    right: 80px
}
*/

#checkbox-container {
    width: 10px;
    height: auto;
    display: grid;
    place-content: center;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-icon {
    cursor: pointer;
    margin: 0 5px; 
    border: #777 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.nav-icon-left {
    left: 10px;
}

.nav-icon-right {
    right: 10px;
}

article {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

article h2 {
    color: #333;
}

#Card-keywords ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    
}

.Card-Keywords li {
    background-color: var(--bg-color);
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}

.Card-keywords a {
    color: var(--dark-bg-color);
}

article .reading-time {
    margin-top: 10px;
    color: #777;
}

article .read-checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 30px;
}

.github-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Small screens */
@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    .sidebar {
        max-width: 100%;
    }
}

/* Medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
    .sidebar {
        max-width: 250px;
    }

}

/* Large screens */
@media only screen and (min-width: 1025px) {

    body {
        font-size: 20px;
    }
    .sidebar {
        max-width: 300px; 
    }
}

