/* Hoja de estilos de alumnos */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik';
    font-size: 13px;

}

:root {
    --default-font-color: #363960;
    --default-color-01: #9cb4f4 ;
    --default-color-02: #6472a4;
    --default-background: #dadada;
    --default-background02: #ffffff;
}

.light-mode{
    --default-font-color: #6472a4;
    --default-color-01: #9cb4f4 ;
    --default-color-02: #dadada;
    --default-background: #ffffff;
    --default-background02: #dadada;

    transition: background-color .5s;
}

.dark-mode{
    --default-font-color: #dadada;
    --default-color-01: #363960 ;
    --default-color-02: #9cb4f4;
    --default-background: #6472a4;
    --default-background02: #363960;
rgba(255, 255, 255, 0)
    transition:background-color .5s;
}

.header{
    width: 100%;
    background-color: var(--default-color-01);
    height: 100px;
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-around;
    align-items: center;
}

.headerLogo{
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: var(--default-font-color);
    width: 40%;
    text-align: start;
}

.headerSearch{
    position: absolute;
    padding: 5px;
    margin-top: -25px;
}

.headerSearch input{
    width: 0px;
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--default-font-color);
    border-radius: 30px;
    transition: all 0.6s ease;
    font-family: 'Rubik';
    background-color:var(--default-background);
}

.headerSearch i{
    position: absolute;
    top: 0;
    right: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background-color: var(--default-font-color);
    text-align: center;
    color: var(--default-background);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.headerSearch:hover input{
   width: 240px; 
}

.headerSearch input:focus{
    width: 240px;
}

button{
    all: unset;
 }

.headerMenu{
    background-color: transparent;
    border: 0cap;
    font-family: 'Rubik';
    color: var(--default-font-color);
}

 
.headerBtns{
    width: 150px;
    text-align: end;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.headerBtn{
    color: var(--default-background);
    font-size: 30px;
    padding: 2%;
}

.headerMenuHide{
    display: none;
}

.menuCapitulos{
    position: fixed;
    top: 100;
    left: 100;
}

.content{
    background-color: var(--default-background02);
    border-radius: 20px;
    box-shadow: 5px 7px 14px 1px rgba(20, 20, 20, 0.1);;
    padding: 2em;
    margin: 2em;

}

.Card-reading-time{
    font-weight: 300;
    color: var(--default-color-02);
}